<nav class="navbar bg-dark navbar-dark fixed-top">
  <div class="container-fluid">
    <!-- Offcanvas Toggle Button -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Centered Brand -->
      <a class="navbar-brand "routerLink="/dashboard">Dashboard</a>

    <!-- Sidebar -->
    <app-sidebar></app-sidebar>
</div>
</nav>
