<div class="about-section">
  <video autoplay muted loop id="background-video" class="h-100">
    <source src="../../assets/video/grapes_30fps.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
  <div class="inner-container">
    <h1>About Grapes</h1>
    <p class="text">
      Grapes are a type of fruit that grow in clusters. They are typically purple, red, green, yellow, or black. Grapes are used to make wine, grape juice, and other products. They are also eaten as a snack or added to salads.
    </p>
    <div class="skills">
      <span>Rich in Antioxidants</span>
      <span>May Help Lower Blood Pressure</span>
      <span>Supports Healthy Bones</span>
    </div>
  </div>
</div>

