<div class="general-container">
  <input class="radio" type="radio" name="card" id="cardUno" checked />
     <label class="content" for="cardUno">
        <h1 class="title-card">
           <span class="marg-bott">EXAMPLE TITLE OF MY CARD</span>
           <span class="subtitle">EXAMPLE SOME SUBTILTE OR HEADER</span>
        </h1>
        <h3 class="card-title subsubtitle">
          <span>EXAMPLE SOME ADDITIONS</span>
        </h3>
     </label>
 
    <input class="radio" type="radio" name="card" id="cardDos" />
      <label class="content" for="cardDos">
        <h1 class="title-card">
           <span class="marg-bott">EXAMPLE TITLE OF MY CARD</span>
           <span class="subtitle">EXAMPLE SOME SUBTILTE OR HEADER</span>
        </h1>
        <h3 class="card-title subsubtitle">
          <span>EXAMPLE SOME ADDITIONS</span>
        </h3>
     </label>
           
   <input class="radio" type="radio" name="card" id="cardTres" />
      <label class="content" for="cardTres">
        <h1 class="title-card">
           <span class="marg-bott">EXAMPLE TITLE OF MY CARD</span>
           <span class="subtitle">EXAMPLE SOME SUBTILTE OR HEADER</span>
        </h1>
        <h3 class="card-title subsubtitle">
          <span>EXAMPLE SOME ADDITIONS</span>
        </h3>
     </label>

  <input class="radio" type="radio" name="card" id="cardCuatro" />
     <label class="content" for="cardCuatro">
        <h1 class="title-card">
           <span class="marg-bott">TITLE OF YOUR CARD</span>
           <span class="subtitle">SOME SUBTILTE OR HEADER</span>
        </h1>
        <h3 class="card-title subsubtitle">
          <span>EXAMPLE SOME ADDITIONS</span>
        </h3>
     </label>
 </div>